.container {
  border: 1px solid #d9d9d9;
  padding: 8px 16px 16px;
  border-radius: 3px;
  background-color: #fff;
  min-height: 100px;
  .item {
    padding: 0px 8px;
    background-color: #f8f8f8;
    border: 1px solid #e4e7ef;
    border-radius: 2px;
    display: inline-block;
    margin-right: 8px;
    margin-top: 8px;
    color: #6e7382;
    .label {
      font-size: 12px;
      margin-right: 5px;
    }
    span {
      line-height: 12px;
    }
    .close {
      font-size: 8px;
      vertical-align: 0px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .disableItem {
    color: rgba(0, 0, 0, 0.25);
    &:hover {
      cursor: not-allowed !important;
    }
  }
  :global {
  }
}
